.gastosTable {
  padding: 0em;
  width: 100%;
  border-spacing: 0;
  line-height: 2em;
  @media (min-width: 768px) {
    padding: 2em;
  }
}

.gastosTable .gastosTable__head-row {
  background-color: darkblue;
  color: white;
  font-weight: bold;
}

.gastosTable .gastosTable__rowgroup {
  padding-top: 0.25em;
  font-weight: 600;
  text-decoration: underline;
}

.gastosTable .gastosTable__row:nth-child( 2n ) {
  background-color: #e3e3e3;
}

.gastosTable tbody tr:last-child td {
  border-bottom: solid 1px darkblue;
}

.gastosTable td, .gastosTable th {
  display: none;
  &.imp,
  &.gastosTable__rowgroup {
    display: table-cell;
  }
  @media (min-width: 768px), (orientation: landscape) {
    display: table-cell;
  }
}